@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0% {
    transform: rotate(0deg);
  }
  20% {
    background-color: #c4def4;
  }
  40% {
    background-color: #8bc1ed;
  }
  60% {
    background-color: #519ad7;
  }
  80% {
    background-color: #1c639e;
  }
  100% {
    background-color: #1a5791;
  }
}

.spinner-item {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  margin: 0 4px;
  animation: pulse 1s normal infinite;
}

.font-outline-1 {
  -webkit-text-stroke: 0.5px black;
}
.font-outline-2 {
  -webkit-text-stroke: 2px black;
}
.font-outline-4 {
  -webkit-text-stroke: 4px black;
}

.scroller::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

.scroller::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgb(233, 232, 232);
}

.scroller::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgb(37, 99, 235);
  border-radius: 20px;
  border: 1px solid rgb(70, 119, 224);
}
